<div class="weui-tabbar">
	<a ng-href="#/index/news" class="weui-tabbar__item" ng-class= "{'weui-bar__item_on':item==0}" ng-click="dianji(0)">		
		<img src="./images/icon_tabbar.png" alt="" class="weui-tabbar__icon">
		<p class="weui-tabbar__label">新闻</p>
	</a>
	<a ng-href="#/index/meinv" class="weui-tabbar__item" ng-class= "{'weui-bar__item_on':item==1}" ng-click="dianji(1)">
		<img src="./images/icon_tabbar.png" alt="" class="weui-tabbar__icon">
		<p class="weui-tabbar__label">美女</p>
	</a>
	<a ng-href="#/index/junshi" class="weui-tabbar__item" ng-class= "{'weui-bar__item_on':item==2}" ng-click="dianji(2)">
		<img src="./images/icon_tabbar.png" alt="" class="weui-tabbar__icon">
		<p class="weui-tabbar__label">军事</p>
	</a>
	<a ng-href="#/index/yule" class="weui-tabbar__item" ng-class= "{'weui-bar__item_on':item==3}" ng-click="dianji(3)">
		<img src="./images/icon_tabbar.png" alt="" class="weui-tabbar__icon">
		<p class="weui-tabbar__label">娱乐</p>
	</a>
</div>