<!--娱乐页面列表组件-->
<div class="weui_panel weui_panel_access" ng-style="{'marginTop':'43px'}">
	<div class="weui_panel_bd">
		<a ng-repeat="yule in arr" ng-href="#/yuleDetail/{{yule.$$hashKey}}" class="weui-media-box weui-media-box_appmsg">
			<div class="weui-media-box__hd">
				<img class="weui-media-box__thumb" ng-src="{{yule.picUrl}}" alt="">
			</div>
			<div class="weui-media-box__bd">
				<h4 class="weui-media-box__title">{{yule.title}}</h4>
				<p class="weui-media-box__desc">{{yule.ctime}}</p>
			</div>
		</a>
	</div>
	<div class="weui-panel__ft" ng-show="!isLoad">
		<a href="javascript:void(0);" ng-click="yulelist()" class="weui-cell weui-cell_access weui-cell_link">
			<div class="weui-cell__bd">查看更多</div>
			<span class="weui-cell__ft"></span>
		</a>
	</div>
	<div class="weui-loadmore" ng-show="isLoad">
		<i class="weui-loading"></i>
		<span class="weui-loadmore__tips">正在加载</span>
	</div>
</div>